* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
}

header {
    background-color: darkred;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid darkred;
    font-family: 'Courier New', Courier, monospace;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ff0000;
}

.container {
    display: grid;
    grid-template-columns: 1fr 50% 1fr;
    grid-template-rows: repeat(8, 1fr);
    gap: 20px;
    padding: 20px;
    text-align: center;
    font-size: 2rem;
}

.company-title {
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.company-title {
    background-color: darkred;
}

.hooplay-logo {
    max-width: 50%;
    height: auto;
    object-fit: contain;
    outline: 2px solid white;
}

.hooplay-logo-small {
    display: block;
    width: 10rem;
    height: auto;
    transition: opacity 0.3s ease;
}

a:hover .hooplay-logo-small {
    opacity: .5;
}

.company-introduction {
    grid-column: 2 / span 1;
    grid-row: 3 / span 2;
}

.news {
    grid-column: 2 / span 1;
    grid-row: 5 / span 1;
}

.stats {
    grid-column: 2 / span 1;
    grid-row: 6 / span 1;
}

.statline-of-the-day {
    grid-column: 2 / span 1;
    grid-row: 7 / span 2;
}

.product-ad1 {
    grid-column: 3 / span 1;
    grid-row: 1 / span 4;
}

.product-ad2 {
    grid-column: 3 / span 1;
    grid-row: 5 / span 4;
}

.searchPlayer {
    grid-column: 1 / span 1;
    grid-row: 1 / span 4;
}

.searchTeam {
    grid-column: 1 / span 1;
    grid-row: 5 / span 4;
}

section,
aside {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



section h2,
aside h2,
section h1 {
    color: darkred;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace
}

.sponsor-ads,
.product-ads,
.searchTeam,
.searchPlayer
 {
    background-color: #f9f9f9;
}

.scroller-container {
    width: 100%;
    overflow: hidden;
}

.scroller {
    display: flex;
    gap: 10rem;
    animation: scroll 150s linear infinite;
    width: max-content;
}

.scroller__inner img {
    width: 100px;
    height: auto;
}

.scroller__inner {
    display: flex;
    gap: 1rem;
}

@keyframes scroll {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

h2 {
    color: darkred;
}

label {
    font-weight: bold;
    color: darkred;
}

input[type="text"] {
    width: 70%;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid darkred;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background-color: darkred;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    color: white;
    background-color: rgb(97, 22, 22);
}