* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
}

header {
    background-color: darkred;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid darkred;
    font-family: 'Courier New', Courier, monospace;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 1.8rem;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ff0000;
}

a:hover .hooplay-logo-small {
    opacity: .5;
}

.hooplay-logo {
    max-width: 70%;
    height: auto;
    object-fit: contain;
    max-height: 600px;
    outline: 2px solid white;
}

.hooplay-logo-small {
    display: block;
    width: 10rem;
    height: auto;
    transition: opacity 0.3s ease;
}

.container {
    display: grid;
    grid-template-columns: 1fr 50% 1fr;
    grid-template-rows: repeat(8, 1fr);
    gap: 20px;
    padding: 20px;
    text-align: center;
    font-size: 2rem;
    position: relative;
}

.company-title {
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-width: 100%;
    height: 500px;
    background-color: darkred;
    position: relative;
}

.company-introduction {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
    margin-bottom: 0px;
}

.statline-of-the-day {
    grid-column: 2 / span 1;
    grid-row: 1 / span 3;
    margin-bottom: 0px;
    font-weight: bold;
}

.sign-up {
    grid-column: 2 / span 1;
    grid-row: 4 / span 4;
    margin-top: 10px
}

.stats {
    grid-column: 2 / span 1;
    grid-row: 5 / span 1;
    margin-top: 10px;
}


/* Search bar styles */
#searchResultsPlayer {
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

#searchResultsPlayer h3 {
    color: darkred;
    font-size: 44px;
    margin-bottom: 10px;
}

#searchResultsPlayer p {
    margin-bottom: 8px;
}

#searchResultsPlayer strong {
    font-weight: bold;
}

#searchResultsPlayer.not-found {
    color: darkred;
    font-style: italic;
}

#searchResultsTeam {
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

#searchResultsTeam h3 {
    color: darkred;
    font-size: 44px;
    margin-bottom: 10px;
}

#searchResultsTeam p {
    margin-bottom: 8px;
}

#searchResultsTeam strong {
    font-weight: bold;
}

#searchResultsTeam.not-found {
    color: darkred;
    font-style: italic;
}

#searchResultsTeam table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#searchResultsTeam table th,
#searchResultsTeam table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#searchResultsTeam table th {
    background-color: #f2f2f2;
}

#searchResultsTeam img {
    margin-top: 10px;
}

#clearButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: darkred;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#clearButton:hover {
    background-color: rgb(97, 22, 22);
}

.searchTeam {
    grid-column: 3 / span 1;
    grid-row: 1 / span 7;
}

.searchPlayer {
    grid-column: 1 / span 1;
    grid-row: 1 / span 7;
}

section,
aside {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h4 {
    color: white;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace
}

section h2,
aside h2,
section h1 {
    color: darkred;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace
}

.sponsor-ads,
.product-ads,
.searchTeam,
.searchPlayer {
    background-color: #f9f9f9;
}

.scroller-container {
    width: 100%;
    overflow: hidden;
}

.scroller {
    display: flex;
    gap: 10rem;
    animation: scroll 150s linear infinite;
    width: max-content;
}

.scroller__inner img {
    width: 100px;
    height: auto;
}

.scroller__inner {
    display: flex;
    gap: 1rem;
}

@keyframes scroll {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

h2 {
    color: darkred;
}

label {
    font-weight: bold;
    color: darkred;
}

input[type="text"] {
    width: 70%;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid darkred;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background-color: darkred;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    color: white;
    background-color: rgb(97, 22, 22);
}



h3 {
    color: darkred;
    font-size: 42px;
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}


/* dropdown menu styling */
.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
}

.dropdown-btn {
    background-color: darkred;
    color: white;
    padding: 12px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    max-height: 200px;
}

.dropdown-content a {
    color: darkred;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Courier New', Courier, monospace;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.choose-your-five {
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    max-width: 100%;
    height: 340px;
    background-color: darkred;
    color: rgb(255, 255, 255);
    position: relative;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.choose-your-five-dropdown {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
}

#selectedPlayers {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

#selectedPlayers li {
    margin-bottom: 10px;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #f0f0f0;
    padding: 20px;
}

.sign-up {
    background-color: darkred;
    padding: 20px;
    border-radius: 10px;
    color: white;
    width: auto;
    margin: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: white;

}

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
}

.submit {
    background-color: white;
    color: darkred;
    padding: 10px 20px;
    border: white 2px solid;
    border-radius: 4px;
    cursor: pointer;
}

.submit:hover {
    background-color: #800000;
}

.submit:active {
    background-color: #700000;
}

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
}

.modal-content {
    background-color: #ffffff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 8px;
    width: 80%;
    text-align: center;
}

#closeModalButton {
    margin-top: 20px;
}

form {
    background-color: darkred;
    padding: 20px;
    border-radius: 10px;
    font-family:'Courier New', Courier, monospace;
    width: auto;
    margin: 20px;
}

form ::placeholder {
    font-family: Arial, Helvetica, sans-serif
}

form label {
    display: block;
    margin-bottom: 5px;
    color: white;
    text-align: left;
    text-transform: uppercase;
}

.sign-up h2 {
    color: white;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
    color: black;
    font-family: Arial, Helvetica, sans-serif
}

.submit {
    background-color: white;
    color: darkred;
    padding: 10px 20px;
    border: white 2px solid;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #800000;
}

form button:active {
    background-color: #700000;
}

.company-introduction p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    padding: 10px;
    text-align: justify;
    margin: 10px;
}

/* animation for logo on random statline */
@keyframes scaleAnimation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    75% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.logo-img {
    transition: transform 0.3s ease;
}

.logo-img:hover {
    animation: scaleAnimation 0.5s ease;
}

.players {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    text-align: center;
    font-size: 2rem;
    position: relative;
}

.players h6 {
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* Ensure it's behind other content */
  }
  
  /* Style for the video foreground */
  .video-foreground {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }
  
  .video-foreground iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .top-5-teams h6, .top-5-players h6 {
    margin: 10px;
    padding: 15px;
    font-size: 2rem;
  }

  .top-5-teams {
    grid-column: 1 / span 1;
    grid-row: 1 / span 3;
  }

  .top-5-players {
    grid-column: 3 / span 1;
    grid-row: 1 / span 3;
  }

  .banner {
    grid-column: 1 / span 3;
    grid-row: 4 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .banner h1 {
    font-size: 5rem;
  }